
div.selectedIngredients-section-container {
	margin-top: 5%;
	margin-bottom: 5%;
}

div.selected-ingredients-container {
	border: 1px solid gray;
}

div.selected-ingredient-name {
	display: inline;
}

div.x-symbol {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	display: inline;
	cursor: pointer;
}

div.range-bar-container {
	margin-bottom: 5%;
	margin-right: 50%;
}
