<div class="selectedIngredients-section-container" *ngIf="selectedIngredients.length>0">
  <label>Ingredienti selezionati:</label>
  <div class="selected-ingredients-container">
    <div class="selected-ingredients" *ngFor="let selectedIngredient of selectedIngredients">
      <div class="selected-ingredient-name">{{selectedIngredient.name}}</div>
      <div class="x-symbol" (click)="deleteIngredient(selectedIngredient)">x</div>
    </div>
  </div>
</div>

<div *ngIf="selectedIngredients.length>0" class="range-bar-container">
  <label># minimo di ingredienti</label>
  <input type="range" name="range" min="1" [max]="selectedIngredients.length" [value]="atLeast" (change)="setAtLeast($event.target.value)">
  <output id="range">{{atLeast}}</output>
</div>
