<div *ngIf="currentPages.length > 0" class="pager-container">
  <ul class="pagination">
    <li [class.disabled]="currentPage === 1" (click)="goLeft()">
      <a href="#" [class.disable-a]="currentPage === 1">
        <</a>
    </li>
    <li (click)="setCurrentPage(pageNumber)" *ngFor="let pageNumber of currentPages" [class.active]="pageNumber === currentPage">
      <a href="#" [class.disable-a]="pageNumber === currentPage">{{pageNumber}}</a>
    </li>
    <li [class.disabled]="currentPage === pages"><a href="#" [class.disable-a]="currentPage === pages" (click)="goRight()">></a></li>
  </ul>
</div>
