.result-header {
    display: inline-block;
    padding-left: 200px;
    padding-right: 0;
    text-align: center;
}

.dynamic-list-wrapper {
    border-left: 0 none #000;
    float: none;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 100px;
}
