<div class="w-dyn-item">
  <div class="w-row">
    <div class="img-container w-col w-col-3">
      <img class="img-rounded" src="../assets/images/dish_placeholder.jpeg" width="215" height="145">
    </div>
    <div class="info-container w-col w-col-9">
      <div class="recipe-info">
        <p class="dish-type"><b>{{dish.type | uppercaseFirst}}</b></p>
        <h1 class="dish-name">{{dish.name}}</h1>
        <p [class.more-details]="dish.show_details" class="dish-instructions">
          {{dish.instructions | limitTo: 160}}<b class="dish-info-expander" (click)="dish.show_details=true">DETTAGLIO</b>
        </p>
        <ul class="recipe-details w-list-unstyled">
          <li class="detail-element">
            <div style="display: inline-block;">
              <img src="../assets/images/clock.png" width="10" height="10">
            </div>
            <div style="display: inline-block; margin-left: 2px;">
              <span>tempo</span> &nbsp;
            </div>
          </li>
          <li class="detail-element">
            <div style="display: inline-block;">
              <img src="../assets/images/persons.png" width="10" height="10">
            </div>
            <div style="display: inline-block; margin-left: 2px;">
              <span>persone</span> &nbsp;
            </div>
          </li>
          <li class="detail-element">
            <div style="display: inline-block;">
              <img src="../assets/images/difficulty_lvl.png" width="10" height="11">
            </div>
            <div style="display: inline-block; margin-left: 2px;">
              <span>difficolta'</span> &nbsp;
            </div>

          </li>
        </ul>
        <div [class.more-details]="!dish.show_details">
          <div class="recipe-ingredients">
            <dl>
              <dt>
                <div class="separator"><span class="separator-content">Ingredienti</span></div>
              </dt>
              <dd *ngFor="let ingredient of dish.ingredients">
                <b class="ingredient-name"> &bull;{{ingredient.name |
                  uppercaseFirst}}</b>
              </dd>
            </dl>
          </div>
          <div class="full-instructions">
            <div class="separator"><span class="separator-content"><b>Istruzioni</b></span></div>
            <p class="dish-instructions-full">{{dish.instructions}}</p>
          </div>
          <p>
            <b class="dish-info-expander" (click)="dish.show_details=false">RIDUCI</b>
          </p>

        </div>

      </div>
    </div>
  </div>
</div>
